<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/__head.ejs') %>
    <title>City Click | Home</title>

    <script src="javascript/site.js" defer></script>
</head>

<body>

    <style>
        .container {
            display: none;
        }
    </style>
    <main>
        <div class="container">
            <h1>Choose your city</h1>
            <select name="city" id="city">
                <% cities.forEach(city => { %>
                <option value="<%=city%>"><%=city%></option>
                <% }); %>
            </select>
            <div class="submit-btn">Continue</div>
        </div>
    </main>

</body>

</html>