<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/__head.ejs') %>
    <title>City Click | Home</title>
</head>

<body>
    <main>
        <div class="container">
            <h1>Choose your city</h1>
            <select name="city" id="city">
                <% cities.forEach(city => { %>
                <option value="<%=city%>"><%=city%></option>
                <% }); %>
            </select>
            <div class="submit-btn">Continue</div>
        </div>
    </main>
</body>

</html>