<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/__head.ejs') %>
    <title>City Click | Home</title>
    <script>
        let userCity = localStorage.getItem('userCity');
        if (!userCity) {
            document.location.href = '/'
        }
    </script>
</head>

<body>
    <style>
        body {
            user-select: none;
        }
    </style>


    <h1>This is a play room, your city is <span style="color: rgb(125, 90, 96);" id="city"></span>
        and you clicks is <span id="userClicks">0</span></h1>

    <div class="main-content">

        <div class="leaderboard">
            <div class="leaderboard-header active">
                <div class="first-city">
                    <strong>#1 Casablanca</strong>
                </div>

                <div class="usercity-total-clicks">
                    <div class="current-city-with-arrow">
                        <div class="image-city-with-name">
                            <img src="images/icons/userCity.svg" alt="The user svg icon">
                            <strong>Arfoud</strong>
                        </div>
                        <div class="arrow-icon">
                            <img src="images/icons/arrow.svg" alt="the arrow svg icon">
                        </div>
                    </div>

                    <div class="current-city-counter">
                        <code>3343</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>

            </div>

            <div class="the-list-of-cities ">
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">1</span>
                        <strong>Khenifra</strong>
                    </div>
                    <div class="total-clicks">
                        <code>121222</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>

                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">2</span>
                        <strong>Mohamadia</strong>
                    </div>
                    <div class="total-clicks">
                        <code>19222</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>

                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>


                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank">3</span>
                        <strong>Adagir</strong>
                    </div>
                    <div class="total-clicks">
                        <code>192922</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>




            </div>
        </div>
    </div>


    <script>
        let data = JSON.parse(userCity)
        let city = document.querySelector('#city');
        let userClicks = document.querySelector('#userClicks');
        let countClicks = parseInt(data.userClicks)
        city.innerText = data.userCity;
        userClicks.innerText = countClicks;

        document.addEventListener('click', () => {
            let userDetails = {
                userCity: data.userCity,
                userClicks: countClicks,
            }
            countClicks++
            localStorage.setItem('userCity', JSON.stringify(userDetails))
            userClicks.innerText = countClicks - 1;
        })

        let leadHeader = document.querySelector('.leaderboard-header');
        let cityList = document.querySelector('.the-list-of-cities');

        let arrow = document.querySelector('.arrow-icon');
        leadHeader.addEventListener('click', e => {
            e.target.classList.toggle('active')
            cityList.classList.toggle('active')
            arrow.classList.toggle('active')
        })
    </script>
</body>

</html>