<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/__head.ejs') %>
    <title>City Click | Home</title>
    <script>
        let userCity = localStorage.getItem('userCity');
        if (!userCity) {
            document.location.href = '/'
        }
    </script>
</head>

<body>

    <div class="clicks-couner-card">
        <div class="user-click-counter">
            <h1 id="city"></h1>
            <h1 id="userClicks">0</h1>
        </div>
    </div>

    <div class="main-image"></div>

    <div class="main-content">

        <div class="leaderboard">
            <div class="leaderboard-header active">
                <div class="first-city">
                    <strong><span>#1</span> <span id="top-city"></span></strong>
                </div>

                <div class="usercity-total-clicks">
                    <div class="current-city-with-arrow">
                        <div class="image-city-with-name">
                            <img src="images/icons/userCity.svg" alt="The user svg icon">
                            <strong id="user-current-city"></strong>
                        </div>
                        <div class="arrow-icon">
                            <img src="images/icons/arrow.svg" alt="the arrow svg icon">
                        </div>
                    </div>

                    <div class="current-city-counter">
                        <code>3343</code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>

            </div>

            <div class="the-list-of-cities ">

                <% cities.forEach((city, index)=>{ %>

                <div class="city-item">
                    <div class="user-city-name">
                        <span class="rank"><%= index+1 %> </span>
                        <strong class="theCityName"><%= city.cityName%></strong>
                    </div>
                    <div class="total-clicks">
                        <code><%= city.cityClicks%></code>
                        <img src="images/icons/click.svg" alt="the click svg icon">
                    </div>
                </div>
                <% }) %>

            </div>
        </div>
    </div>


    <script>
        let data = JSON.parse(userCity)
        let city = document.querySelector('#city');
        let userCityName = document.querySelector('#user-current-city');
        let userClicks = document.querySelector('#userClicks');
        let mainImg = document.querySelector('.main-image');
        let countClicks = parseInt(data.userClicks)
        userClicks.innerText = countClicks;
        city.innerText = data.userCity;


        let topCity = document.querySelector('#top-city');
        let theCityName = document.querySelector('.theCityName');
        userCityName.innerText = data.userCity
        topCity.innerText = theCityName.innerText


        mainImg.addEventListener('click', () => {
            let userDetails = {
                userCity: data.userCity,
                userClicks: countClicks,
            }
            countClicks++
            localStorage.setItem('userCity', JSON.stringify(userDetails))
            userClicks.innerText = countClicks - 1;
        })

        let leadHeader = document.querySelector('.leaderboard-header');
        let cityList = document.querySelector('.the-list-of-cities');

        let arrow = document.querySelector('.arrow-icon');
        leadHeader.addEventListener('click', e => {
            e.target.classList.toggle('active')
            cityList.classList.toggle('active')
            arrow.classList.toggle('active')
        })
    </script>
</body>

</html>