%sharedProps {
  display: flex;
  align-items: center;
}
body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}

.main-content {
  @extend %flexbox;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  .leaderboard {
    width: 100%;
    max-width: 650px;
    border-radius: 7px;
    border: 1px solid $scrollBarColor;
    color: $cardColor;
    padding: 10px;
    padding-top: 0;
    background: $greyColor;
    display: flex;
    // align-items: center;
    flex-direction: column;
    img {
      width: 20px;
      object-fit: contain;
    }
    .leaderboard-header {
      box-shadow: 0px 5px 0px 0px rgba(131, 154, 174, 0.648);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 10px;
      cursor: pointer;
      &.active {
        box-shadow: none;
        padding: 10px 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .first-city,
      .usercity-total-clicks {
        @extend %sharedProps;
      }
      .usercity-total-clicks {
        display: flex;
        flex-direction: column;
        .current-city-with-arrow {
          display: flex;
          .image-city-with-name {
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
            }
            strong {
              margin-right: 20px;
            }
          }
          .arrow-icon {
            transition: 700ms;
            &.active {
              transform: rotate(180deg);
            }
          }
        }
        .current-city-counter {
          display: flex;
          align-items: center;
          align-self: flex-end;
          margin-right: 20px;
          background-color: $primaryColor;
          border-radius: 2px;
          padding: 2px;
          color: $cardBorderColor;
          border: 1px solid $cardBorderColor;
          code {
            margin-right: 3px;
          }
          img {
            filter: brightness(70%);
            width: 15px;
          }
        }
      }
    }

    .the-list-of-cities {
      transition: 300ms;
      transform-origin: bottom;
      position: absolute;
      transform: scale(0);
      overflow-y: auto;
      max-height: 400px;
      &.active {
        transform: scale(1);
        position: relative;
      }
      .city-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 3px;
        border-bottom: 1px solid $citiesCardBorder;
        &:last-child {
          border-bottom: none;
        }
      }
      .user-city-name,
      .total-clicks {
        display: flex;
        align-items: center;
        span {
          margin-right: 5px;
        }
        img {
          margin-left: 5px;
        }
      }
    }
  }
}
