%sharedProps {
  display: flex;
  align-items: center;
}
body {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  user-select: none;
}
body:-webkit-full-screen {
  width: 100%;
  height: 100%;
}

.clicks-couner-card {
  @extend %flexbox;
  width: 100%;
  padding: 5px;
  padding-top: 0.3rem;
  position: absolute;
  top: 0;
  z-index: 10;
  .user-click-counter {
    border: 1px solid $scrollBarColor;
    background: $citiesCardBorder;
    padding: 1rem;
    padding-bottom: 0;
    border-radius: 5px;
    color: $greyColor;
    width: 100%;
    max-width: 500px;
    #city {
      font-size: 40px;
      margin-bottom: 1rem;
      color: $cityNameColor;
      text-shadow: 2px 2px 2px $greyColor;
    }
    #userClicks {
      // padding: 2px 5px;
      border-radius: 3px;
      border: 1px solid $cardBorderColor;
      color: $cardColor;
      text-align: center;
      background: $primaryColor;
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      @media screen and (max-width: 400px) {
        // display: block;
        flex-direction: column;
      }
      img {
        width: 20px;
        object-fit: contain;
        margin-left: 10px;
      }
      .item {
        cursor: pointer;
        margin: 2px;
        background: $greyColor;
        border: 1px solid $scrollBarColor;
        color: $cardColor;
        padding: 2px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        transition: 200ms;
        &:hover {
          background: darken($greyColor, 10%);
          transform: scale(1.03);
        }
      }
    }
  }
}

.main-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/site-pics/marrakech.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-content {
  @extend %flexbox;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 11;
  .leaderboard {
    width: 100%;
    max-width: 650px;
    border-radius: 7px;
    border: 1px solid $scrollBarColor;
    color: $cardColor;
    padding: 10px;
    padding-top: 0;
    background: $greyColor;
    display: flex;
    // align-items: center;
    flex-direction: column;
    img {
      width: 20px;
      object-fit: contain;
    }
    .leaderboard-header {
      box-shadow: 0px 5px 0px 0px rgba(131, 154, 174, 0.648);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      margin-bottom: 10px;
      cursor: pointer;
      &.active {
        box-shadow: none;
        padding: 10px 0;
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .first-city,
      .usercity-total-clicks {
        @extend %sharedProps;
      }
      .usercity-total-clicks {
        display: flex;
        flex-direction: column;
        .current-city-with-arrow {
          display: flex;
          .image-city-with-name {
            display: flex;
            align-items: center;
            img {
              margin-right: 5px;
            }
            strong {
              margin-right: 20px;
            }
          }
          .arrow-icon {
            transition: 700ms;
            &.active {
              transform: rotate(180deg);
            }
          }
        }
        .current-city-counter {
          display: flex;
          align-items: center;
          align-self: flex-end;
          margin-right: 20px;
          background-color: $primaryColor;
          border-radius: 2px;
          padding: 2px;
          color: $cardBorderColor;
          border: 1px solid $cardBorderColor;
          code {
            margin-right: 3px;
          }
          img {
            filter: brightness(70%);
            width: 15px;
          }
        }
      }
    }

    .the-list-of-cities {
      transition: 300ms;
      transform-origin: bottom;
      position: absolute;
      transform: scale(0);
      overflow-y: auto;
      max-height: 350px;
      &.active {
        transform: scale(1);
        position: relative;
      }
      .city-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 7px 3px;
        border-bottom: 1px solid $citiesCardBorder;
        &:last-child {
          border-bottom: none;
        }
      }
      .user-city-name,
      .total-clicks {
        display: flex;
        align-items: center;
        span {
          margin-right: 5px;
        }
        img {
          margin-left: 5px;
        }
      }
    }
  }
}
